.about {
  position: relative;
  overflow: hidden;
  top: -10px;

  .about__big_triangle {
    width: 100%;
    height: 50px;

    &:before {
      right: 50%;
      border-right: 1000px solid var(--color-dark);
      border-left: 1000px solid;
    }

    &:after {
      left: 50%;
      border-left: 1000px solid var(--color-dark);
      border-right: 1000px solid;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 100;
      border-bottom: 150px solid white;
      transform: rotate(0.000001deg);
    }
  }
  .about__content {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: 15rem auto 0 auto;

    .about__content__left {
      flex-basis: 50%;
      padding: 0 2rem;

      .about__content__left__title {
        text-align: center;
        position: relative;
        font-size: var(--font-large);
        color: var(--color-dark);
        opacity: 0;

        &.about__showTitle {
          animation: 1s showTitle ease-out forwards;
        }
      }
      .about__content__left__text {
        margin-top: 2rem;
        letter-spacing: 2px;
        font-size: var(--font-xsmall);
        overflow: hidden;
        height: 0;

        &.about__showText {
          animation: 5s showText ease-out forwards;
          animation-delay: 0.8s;
        }
      }
    }
    .about__content__right {
      padding: 0 2rem;
      flex-basis: 40%;
    }
  }

  .about__blob {
    position: absolute;
    z-index: 999;

    &.blob1 {
      top: 15%;
      right: 10%;
      width: 150px;
      height: 150px;
    }

    &.blob2 {
      top: 70%;
      left: -5%;
      width: 250px;
      height: 250px;
    }

    animation: blob1Anim 20s ease-in-out infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .blob2 {
    top: 85% !important;
    left: 0% !important;
    width: 130px !important;
    height: 130px !important;
  }
}
@media only screen and (max-width: 749px) {
  .about {
    .about__content {
      .about__content__left {
        flex-basis: 100%;

        .about__content__left__title {
          font-size: var(--font-medium);
        }

        .about__content__left__text {
          letter-spacing: 1px;
          text-align: center;
          font-size: var(--font-xsmall);
        }
      }
      .about__content__right {
        flex-basis: 100%;
      }
    }
    .blob1 {
      top: 12% !important;
    }

    .blob2 {
      display: none;
    }
  }
}
@keyframes blob1Anim {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-30deg) translateY(20px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
@keyframes showTitle {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes showText {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
