.about {
  position: relative;
  overflow: hidden;
  top: -10px;
}

.about .about__big_triangle {
  width: 100%;
  height: 50px;
}

.about .about__big_triangle:before {
  right: 50%;
  border-right: 1000px solid var(--color-dark);
  border-left: 1000px solid;
}

.about .about__big_triangle:after {
  left: 50%;
  border-left: 1000px solid var(--color-dark);
  border-right: 1000px solid;
}

.about .about__big_triangle:before, .about .about__big_triangle:after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 100;
  border-bottom: 150px solid white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.about .about__content {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15rem auto 0 auto;
}

.about .about__content .about__content__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 2rem;
}

.about .about__content .about__content__left .about__content__left__title {
  text-align: center;
  position: relative;
  font-size: var(--font-large);
  color: var(--color-dark);
  opacity: 0;
}

.about .about__content .about__content__left .about__content__left__title.about__showTitle {
  -webkit-animation: 1s showTitle ease-out forwards;
          animation: 1s showTitle ease-out forwards;
}

.about .about__content .about__content__left .about__content__left__text {
  margin-top: 2rem;
  letter-spacing: 2px;
  font-size: var(--font-xsmall);
  overflow: hidden;
  height: 0;
}

.about .about__content .about__content__left .about__content__left__text.about__showText {
  -webkit-animation: 5s showText ease-out forwards;
          animation: 5s showText ease-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.about .about__content .about__content__right {
  padding: 0 2rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about .about__blob {
  position: absolute;
  z-index: 999;
  -webkit-animation: blob1Anim 20s ease-in-out infinite;
          animation: blob1Anim 20s ease-in-out infinite;
}

.about .about__blob.blob1 {
  top: 15%;
  right: 10%;
  width: 150px;
  height: 150px;
}

.about .about__blob.blob2 {
  top: 70%;
  left: -5%;
  width: 250px;
  height: 250px;
}

@media only screen and (max-width: 1024px) {
  .blob2 {
    top: 85% !important;
    left: 0% !important;
    width: 130px !important;
    height: 130px !important;
  }
}

@media only screen and (max-width: 749px) {
  .about .about__content .about__content__left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about .about__content .about__content__left .about__content__left__title {
    font-size: var(--font-medium);
  }
  .about .about__content .about__content__left .about__content__left__text {
    letter-spacing: 1px;
    text-align: center;
    font-size: var(--font-xsmall);
  }
  .about .about__content .about__content__right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about .blob1 {
    top: 12% !important;
  }
  .about .blob2 {
    display: none;
  }
}

@-webkit-keyframes blob1Anim {
  0% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(-30deg) translateY(20px);
            transform: rotate(-30deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
}

@keyframes blob1Anim {
  0% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
  50% {
    -webkit-transform: rotate(-30deg) translateY(20px);
            transform: rotate(-30deg) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0);
            transform: rotate(0deg) translateY(0);
  }
}

@-webkit-keyframes showTitle {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes showText {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes showText {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
/*# sourceMappingURL=About.css.map */