.hero {
  position: relative;
  overflow: hidden;
}

.hero canvas {
  background: var(--color-dark);
}

.hero .hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__content a {
  color: var(--color-red);
}

.hero .hero__content .hero__content__name {
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-red);
  font-size: var(--font-xlarge);
  position: relative;
  -webkit-animation: shrink 1s ease-in-out forwards;
          animation: shrink 1s ease-in-out forwards;
}

.hero .hero__content .hero__content__name::before {
  content: "GABRIEL SILVA";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  white-space: nowrap;
  color: var(--color-red);
  -webkit-text-stroke: 0px var(--color-red);
  overflow: hidden;
  -webkit-animation: titleAnim 1s ease-in-out forwards;
          animation: titleAnim 1s ease-in-out forwards;
}

.hero .hero__content h2 {
  color: var(--color-beige);
  text-align: center;
  position: relative;
  opacity: 0;
  -webkit-animation: webDevAnim 0.8s ease-out forwards;
          animation: webDevAnim 0.8s ease-out forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.hero .hero__content i {
  margin-top: 2rem;
  opacity: 0;
  font-size: var(--font-medium);
  -webkit-animation: show 2s ease-out forwards, pulse 4s infinite;
          animation: show 2s ease-out forwards, pulse 4s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero .hero__content i:hover {
  color: var(--color-beige);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hero .hero__content .hero__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.hero .hero__content .hero__content__links i {
  margin: 0 2rem;
  font-size: var(--font-small);
  -webkit-animation: none;
          animation: none;
  opacity: 0;
  color: var(--color-red);
  -webkit-animation: show 0.5s forwards;
          animation: show 0.5s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.hero .hero__content .hero__content__links i:hover {
  color: var(--color-beige);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes titleAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes titleAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes webDevAnim {
  0% {
    bottom: -3rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes webDevAnim {
  0% {
    bottom: -3rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    bottom: 30px;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    bottom: 0;
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    bottom: 30px;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    bottom: 0;
  }
}

@media only screen and (max-width: 996px) {
  .hero__content .hero__content__name {
    color: var(--color-red) !important;
  }
  .hero__content .hero__content__name::before {
    -webkit-animation: none !important;
            animation: none !important;
  }
}

@media only screen and (max-width: 425px) {
  .hero .content h1 {
    font-size: var(--font-large);
  }
}
/*# sourceMappingURL=Hero.css.map */