.hero {
  position: relative;
  overflow: hidden;

  canvas {
    background: var(--color-dark);
  }

  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-red);

    a {
      color: var(--color-red);
    }

    h1 {
      text-align: center;
      font-size: var(--font-xlarge);
    }
    h2 {
      color: var(--color-beige);
      text-align: center;
    }

    i {
      margin-top: 2rem;
      font-size: var(--font-medium);
      animation: pulse 4s infinite;
      border-radius: 50%;
      transition: all 0.2s;

      &:hover {
        color: var(--color-beige);
        animation-play-state: paused;
      }
    }
    .hero__content__links {
      display: flex;
      margin-top: 5rem;

      i {
        margin: 0 2rem;
        font-size: var(--font-small);
        animation: none;
        color: var(--color-red);

        &:hover {
          color: var(--color-beige);
          transform: scale(1.2);
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 425px) {
  .hero {
    .content {
      h1 {
        font-size: var(--font-large);
      }
    }
  }
}
