.hero {
  position: relative;
  overflow: hidden;

  canvas {
    background: var(--color-dark);
  }

  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: var(--color-red);
    }

    .hero__content__name {
      text-align: center;
      color: transparent;
      -webkit-text-stroke: 1px var(--color-red);
      font-size: var(--font-xlarge);
      position: relative;
      animation: shrink 1s ease-in-out forwards;

      &::before {
        content: "GABRIEL LIMA";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        white-space: nowrap;
        color: var(--color-red);
        -webkit-text-stroke: 0px var(--color-red);
        overflow: hidden;
        animation: titleAnim 1s ease-in-out forwards;
      }
    }
    h2 {
      color: var(--color-beige);
      text-align: center;
      position: relative;
      opacity: 0;
      animation: webDevAnim 0.8s ease-out forwards;
      animation-delay: 0.7s;
    }

    i {
      margin-top: 2rem;
      opacity: 0;
      font-size: var(--font-medium);
      animation: show 2s ease-out forwards, pulse 4s infinite;
      animation-delay: 1s;
      border-radius: 50%;
      transition: all 0.2s;

      &:hover {
        color: var(--color-beige);
        animation-play-state: paused;
      }
    }
    .hero__content__links {
      display: flex;
      margin-top: 5rem;

      i {
        margin: 0 2rem;
        font-size: var(--font-small);
        animation: none;
        opacity: 0;
        color: var(--color-red);
        animation: show 0.5s forwards;
        animation-delay: 1.5s;

        &:hover {
          color: var(--color-beige);
          transform: scale(1.2);
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes titleAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes webDevAnim {
  0% {
    bottom: -3rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shrink {
  0% {
    transform: scale(1.2);
    opacity: 0;
    bottom: 30px;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    bottom: 0;
  }
}
@media only screen and (max-width: 425px) {
  .hero {
    .content {
      h1 {
        font-size: var(--font-large);
      }
    }
  }
}
