.projects {
  .projects__content {
    max-width: 1400px;
    margin: 10rem auto 0 auto;

    .projects__content__title {
      text-align: center;
      font-size: var(--font-large);
      color: var(--color-dark);
    }

    .projects__content__filter {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem auto;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;

      .projects__content__filter__item {
        padding: 2px 10px;
        margin: 1rem 0;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        transition: all 0.1s ease-in;

        &:hover {
          color: var(--color-red);
        }
      }

      .active__filter {
        color: white;
        background: var(--color-red);

        &:hover {
          color: white;
        }
      }
    }

    .projects__content__items {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
