.projects {
  .projects__content {
    max-width: 1400px;
    margin: 10rem auto 0 auto;

    .projects__content__title {
      text-align: center;
      font-size: var(--font-large);
      color: var(--color-dark);
    }

    .projects__content__items {
      margin: 2rem 0;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
