.projects {
  .projects__content {
    max-width: 1400px;
    margin: 10rem auto 0 auto;

    .projects__content__title {
      text-align: center;
      font-size: var(--font-large);
      color: var(--color-dark);
      position: relative;
      opacity: 0;
      bottom: 20px;
      transition: all 0.5s ease-out;

      &.projects__show {
        bottom: 0;
        opacity: 1;
      }
    }

    .projects__content__filter {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem auto;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;

      .projects__content__filter__item {
        padding: 2px 10px;
        margin: 1rem 0;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        transition: all 0.1s ease-in;
        outline: none;
      }
    }

    .projects__content__items {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      opacity: 0;
      transition: all 0.5s;

      &.projects__show {
        opacity: 1;
      }
    }
  }
}
