.card {
  position: relative;
  width: 300px;
  height: 400px;

  .card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    &:hover {
      transform: rotateY(180deg);
    }

    .card__content__front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      color: var(--color-dark);
      box-shadow: 2px 2px 3px 3px #dbdbdb;

      .card__content__front__img {
        width: 100%;
        object-fit: cover;
        height: 60%;
        border-end-end-radius: 40%;
      }

      .card__content__front__title {
        padding: 1rem 1rem 0 1rem;
      }

      .card__content__front__desc {
        font-size: 14px;
        padding: 1rem;
      }

      .card__content__front__topics {
        padding: 0 1rem;

        .card__content__front__topics__list {
          font-size: 12px;
          display: flex;
          justify-content: space-between;

          .card__content__front__topics__list__item {
            padding: 2px 5px;
          }

          .HTML__CARD {
            background: #e44d26;
            color: white;
          }

          .CSS__CARD {
            color: white;
            background: #264de4;
          }

          .REACT__CARD {
            color: white;
            background: #4ad5ff;
          }

          .JavaScript__CARD {
            background: #f7e018;
          }
        }
      }
    }
    .card__content__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      box-shadow: 2px 2px 3px 3px #dbdbdb;

      .card__content__back__icons {
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            color: var(--color-dark);
            font-size: var(--font-large);
            transition: all 0.2s;

            &:hover {
              color: var(--color-red);
              font-size: var(--font-xlarge);
            }
          }
        }
      }
    }
  }
}
