.card {
  position: relative;
  width: 250px;
  height: 320px;

  .card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    &:hover {
      transform: rotateY(180deg);
    }

    .card__content__front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background: var(--color-dark);
      color: white;
    }
    .card__content__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background: var(--color-navy);
      color: white;
      transform: rotateY(180deg);
    }
  }
}
