.card {
  position: relative;
  margin: 1.2rem;
  width: 310px;
  height: 400px;
}

.card .card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card .card__content:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .card__content .card__content__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: var(--color-dark);
  -webkit-box-shadow: 2px 2px 3px 3px #dbdbdb;
          box-shadow: 2px 2px 3px 3px #dbdbdb;
  background: white;
}

.card .card__content .card__content__front .card__content__front__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 60%;
  -webkit-box-shadow: 0px 1px 3px 1px #dbdbdb85;
          box-shadow: 0px 1px 3px 1px #dbdbdb85;
  border-end-end-radius: 40%;
}

.card .card__content .card__content__front .blur {
  -webkit-filter: grayscale(60%) blur(2px);
          filter: grayscale(60%) blur(2px);
}

.card .card__content .card__content__front .card__content__front__title {
  padding: 1rem 1rem 0 1rem;
}

.card .card__content .card__content__front .card__content__front__desc {
  font-size: 14px;
  padding: 1rem;
}

.card .card__content .card__content__front .card__content__front__topics {
  padding: 0 1rem;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .card__content__front__topics__list__item {
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .HTML__CARD {
  background: #e44d26;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .CSS__CARD {
  color: white;
  background: #264de4;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .React__CARD {
  color: white;
  background: #4ad5ff;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .JS__CARD {
  background: #f7e018;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .Firebase__CARD {
  background: #fec400;
  color: #333;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .Bootstrap__CARD {
  background: #850afb;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .SASS__CARD {
  background: #ce679a;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .TS__CARD {
  background: #3178c6;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .Angular__CARD {
  background: #b52e31;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .MySQL__CARD {
  background: #1e4c68;
  color: white;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .PHP__CARD {
  background: #B0B3D6;
  font-weight: bold;
  color: #474A8A;
}

.card .card__content .card__content__front .card__content__front__topics .card__content__front__topics__list .MongoDB__CARD {
  background: #ededef;
  color: #20303b;
}

.card .card__content .card__content__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 2px 2px 3px 3px #dbdbdb;
          box-shadow: 2px 2px 3px 3px #dbdbdb;
  background: white;
}

.card .card__content .card__content__back .card__content__back__icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card__content .card__content__back .card__content__back__icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__content .card__content__back .card__content__back__icons a i {
  color: var(--color-dark);
  font-size: var(--font-large);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card__content .card__content__back .card__content__back__icons a i:hover {
  color: var(--color-red);
  font-size: var(--font-xlarge);
}

.card .card__content .card__content__back .card__content__back__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__content .card__content__back .card__content__back__dev h2 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card__content .card__content__back .card__content__back__dev h2:hover {
  color: var(--color-red);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card .card__content .card__content__back .card__content__back__dev i {
  margin-top: 2rem;
  font-size: var(--font-large);
  -webkit-animation: 5s rotateGear infinite linear;
          animation: 5s rotateGear infinite linear;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card__content .card__content__back .card__content__back__dev i:hover {
  color: var(--color-red);
}

@-webkit-keyframes rotateGear {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateGear {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Card.css.map */