.card {
  position: relative;
  margin: 1.2rem;
  width: 310px;
  height: 400px;

  .card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;

    &:hover {
      transform: rotateY(180deg);
    }

    .card__content__front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      color: var(--color-dark);
      box-shadow: 2px 2px 3px 3px #dbdbdb;

      .card__content__front__img {
        width: 100%;
        object-fit: cover;
        height: 60%;
        box-shadow: 0px 1px 3px 1px #dbdbdb85;
        border-end-end-radius: 40%;
      }

      .blur {
        filter: grayscale(60%) blur(2px);
      }

      .card__content__front__title {
        padding: 1rem 1rem 0 1rem;
      }

      .card__content__front__desc {
        font-size: 14px;
        padding: 1rem;
      }

      .card__content__front__topics {
        padding: 0 1rem;

        .card__content__front__topics__list {
          font-size: 12px;
          display: flex;

          .card__content__front__topics__list__item {
            padding: 2px 5px;
            border-radius: 3px;
            margin-right: 10px;
          }

          .HTML__CARD {
            background: #e44d26;
            color: white;
          }

          .CSS__CARD {
            color: white;
            background: #264de4;
          }

          .React__CARD {
            color: white;
            background: #4ad5ff;
          }

          .JS__CARD {
            background: #f7e018;
          }

          .Firebase__CARD {
            background: #fec400;
            color: #333;
          }

          .Bootstrap__CARD {
            background: #850afb;
            color: white;
          }

          .SASS__CARD {
            background: #ce679a;
            color: white;
          }

          .TS__CARD {
            background: #3178c6;
            color: white;
          }

          .Angular__CARD {
            background: #b52e31;
            color: white;
          }

          .MySQL__CARD {
            background: #1e4c68;
            color: white;
          }
          .PHP__CARD {
            background: #B0B3D6;
            font-weight: bold;
            color: #474A8A;
          }

          .MongoDB__CARD {
            background: #ededef;
            color: #20303b;
          }
        }
      }
    }
    .card__content__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      box-shadow: 2px 2px 3px 3px #dbdbdb;
      background: white;

      .card__content__back__icons {
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            color: var(--color-dark);
            font-size: var(--font-large);
            transition: all 0.2s;

            &:hover {
              color: var(--color-red);
              font-size: var(--font-xlarge);
            }
          }
        }
      }

      .card__content__back__dev {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          transition: all 0.2s;

          &:hover {
            color: var(--color-red);
            transform: scale(1.2);
          }
        }

        i {
          margin-top: 2rem;
          font-size: var(--font-large);
          animation: 5s rotateGear infinite linear;
          transition: all 0.2s;

          &:hover {
            color: var(--color-red);
          }
        }
      }
    }
  }
}
@keyframes rotateGear {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
