.slider {
  margin: 3rem 0;
  width: 100%;
  .slider__content {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 2rem 0;

    .slider__texts {
      display: flex;
      justify-content: space-between;
      color: #111;
      margin-bottom: 10px;
    }
    .slider__texts__title {
      font-weight: bold;
      letter-spacing: 1px;
    }
    .slider__texts__value {
      color: var(--color-red);
    }
    .slider__container {
      background: rgba($color: #c84b31, $alpha: 0.2);
      transition: all 0.3s;
      width: 100%;
      height: 10px;
      border-radius: 10px;
      position: relative;

      .slider__container__fill {
        transition: all 0.3s;
        height: 100%;
        border-radius: 10px;
        background-color: var(--color-red);
        width: 0%;

        &.sl__0 {
          // HTML - CSS
          animation: 3s sl0 forwards ease-out;
          animation-delay: 1.8s;
        }
        &.sl__1 {
          // JAVASCRIPT
          animation: 3s sl1 forwards ease-out;
          animation-delay: 2s;
        }
        &.sl__2 {
          // REACT
          animation: 3s sl2 forwards ease-out;
          animation-delay: 2.2s;
        }
      }
    }
    .slider__container::before {
      content: "0%";
      color: rgb(199, 199, 199);
      position: absolute;
      top: 15px;
      left: 0;
    }
    .slider__container::after {
      content: "100%";
      color: rgb(199, 199, 199);
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}
@keyframes sl0 {
  // HTML-CSS
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes sl1 {
  // JAVASCRIPT
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes sl2 {
  // REACT
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes sl3 {
  // PHP
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
