@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --color-dark: #191919;
  --color-navy: #2d4263;
  --color-red: #c84b31;
  --color-beige: #ecdbba;

  --font-xlarge: 4.6rem;
  --font-large: 3rem;
  --font-medium: 2rem;
  --font-small: 1.2rem;
  --font-xsmall: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
